In [1]:
import pandas as pd

In [21]:
items = {
    'bob': pd.Series(data = [1,2,3], index = ['bike', 'pants','watch']),
    'alice': pd.Series(data = [4,5,6,7], index = ['book','glasses','bike','pants'])
}
items

{'bob': bike     1
 pants    2
 watch    3
 dtype: int64,
 'alice': book       4
 glasses    5
 bike       6
 pants      7
 dtype: int64}

In [4]:
shopping_carts = pd.DataFrame(items)
shopping_carts # columns are the keys of the dictionary

         bob  alice
bike     1.0    6.0
book     NaN    4.0
glasses  NaN    5.0
pants    2.0    7.0
watch    3.0    NaN

In [5]:
items = {
    'bob': pd.Series(data = [1,2,3]),
    'alice': pd.Series(data = [4,5,6,7])
}
items

{'bob': 0    1
 1    2
 2    3
 dtype: int64,
 'alice': 0    4
 1    5
 2    6
 3    7
 dtype: int64}

In [6]:
shopping_carts = pd.DataFrame(items)
shopping_carts # columns are the keys of the dictionary

   bob  alice
0  1.0      4
1  2.0      5
2  3.0      6
3  NaN      7

In [8]:
shopping_carts.shape

(4, 2)

In [9]:
shopping_carts.ndim

2

In [10]:
shopping_carts.size

8

In [11]:
shopping_carts.dtypes

bob      float64
alice      int64
dtype: object

In [12]:
shopping_carts.values

array([[ 1.,  4.],
       [ 2.,  5.],
       [ 3.,  6.],
       [nan,  7.]])

In [13]:
shopping_carts.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
shopping_carts.columns

Index(['bob', 'alice'], dtype='object')

In [16]:
bob_shopping_cart = pd.DataFrame(items, columns = ['bob'])
bob_shopping_cart

   bob
0    1
1    2
2    3

In [24]:
alice_sel_shopping_cart = pd.DataFrame(items, columns = ['alice'], index = ['glasses','bike'])

In [25]:
alice_sel_shopping_cart

         alice
glasses      5
bike         6

In [29]:
data = {
    'integers': [1,2,3],
    'floats': [1.0 , 2., 3.]
}
df = pd.DataFrame(data)
df

   integers  floats
0         1     1.0
1         2     2.0
2         3     3.0

In [27]:
data = {
    'integers': [1,2,3],
    'floats': [1.0 , 2., 3.]
}
df = pd.DataFrame(data, index = ['label 1 ', 'label 2', 'label 3'])
df

          integers  floats
label 1          1     1.0
label 2          2     2.0
label 3          3     3.0

In [30]:
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]
store_items = pd.DataFrame(items2)
store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [31]:
store_items = pd.DataFrame(items2, index = ['store 1','store 2'])
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0